body {
    color: #000000;
  }
  
.jumbotron {
    background: url(placeholder.png) center center no-repeat;
    background-size: 50% 50%;
    text-align: center;
}

#example {
  font-family: Verdana;
  font-size: 16px;
  color: #660066;
}