body {
    color: #000000;
  }
  
.jumbotron {
    background: url("youtubeheader.gif") center center no-repeat;
    background-size: 100%;
    text-align: center;
}

#example {
  font-family: Verdana;
  font-size: 16px;
  color: #660066;
}

table, th, td {
  border: 10px solid red;
  padding: 15px;
  
}

.center {
  margin-left: auto;
  margin-right: auto;
}